.content_sonnik-title_middle {
	margin-top: 45px;
	margin-bottom: 20px;
	font-size: 18px;
	text-transform: uppercase;
	}

.addmat {

	label {
		width: 231px;
		display: inline-block;
		font-size: 14px;
		vertical-align: middle;

		span {
			display: block;
			font-size: 10px;
			}
		}

	input, textarea {
		@include resetInput;
		vertical-align: middle;
		width: 511px - 22px;
		min-height: 23px;
		padding: 0 11px;
		box-shadow: inset 0 2px 1px rgba(#b9b9b9, .75), 0 0 0 1px #c116bd;
		color: #cdcdcd;
		font-size: 14px;
		font-family: $font-marmelad;
		outline: 0;
		border-radius: 5px;
		}

	textarea {
		height: 118px - 22px;
		padding: 11px;
		}

	input[type='file'] {
		width: 200px;
		padding: 0;
		}

	select, option {
		width: 200px;
		height: 23px;
		line-height: 23px;
		}
	}

	.addmat-row {
		margin-bottom: 15px;
		}

	.addmat-row._multilines label,
	.addmat-row._multilines textarea {
		vertical-align: top;
		}

	._addmat-cell-right {
		padding: 10px 0 10px 231px;
		font-size: 12px;
		}

	.addmat-row._actions {
		@extend .clearfix;

		text-align: right;

		input {
			width: 216px;
			height: 41px;
			margin-left: 34px;
			padding: 0;
			box-shadow: none;

			border-radius: 19px;
			font-size: 18px;
			text-shadow: 1px 2px 2px rgba(#000, .75);
			color: #fffeff;
			cursor: pointer;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased;
			}

		input[type='reset'] {
			background: #8106a2;
			}

		input[type='submit'] {
			background: #3a56cd;
			}

		._addmat-cell-right {padding-top: 0;}
		}
