.content {
	padding-bottom: 50px;
	font-family: $font-marmelad;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	}

	.content-title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 30px;
		text-transform: uppercase;
		}

	.content_centered {
		text-align: center;
		font-size: 18px;
		line-height: 22px;

		p {
			margin-bottom: 22px;
			}
		}

	.content_left {
		@extend .clearfix;

		font-size: 14px;
		line-height: 16px;

		p {
			margin-bottom: 16px;
			}
		}
		.readnext {
			height: 34px;
			float: right;
			// display: inline-block;
			padding: 0 11px 0 14px;
			background: #3a56cd;
			border-radius: 10px;

			text-transform: uppercase;
			text-decoration: none;
			font-size: 11px;
			line-height: 34px;
			color: #fff;

			&._fixedmargin {
				margin-top: -16px;
				}

			span {
				padding-right: 23px;
				background: url(../images/icon-next.png) no-repeat 100%;
				line-height: 13px;
				}
			}

	.catlinks {
		padding-bottom: 22px;
		margin-top: 45px;
		border-bottom: 2px solid #bcbcbc;

		ul {
			@extend .clearfix;
			}

		li {
			padding: 0 10px;
			position: relative;
			float: left;

			&:last-child {
				float: right;
				}
			}

		}
		.catlinks-header {
			text-align: center;
			margin-bottom: 20px;

			p:nth-child(1) {
				margin-bottom: 4px;
				font-size: 24px;
				}
			p:nth-child(2) {
				font-size: 14px;
				line-height: 18px;
				}
			}
		.catlinks-pic {
			width: 315px;
			// height: 270px;
			display: block;
			border: 2px solid #bcbcbc;
			border-radius: 10px;
			overflow: hidden;

			img {
				width: 315px;
				}
			}
		.catlinks-description {
			padding: 18px 73px 18px 27px;
			right: 12px;
			bottom: 2px;
			left: 12px;
			position: absolute;
			display: block;
			border-radius: 0 0 10px 10px;
			background: rgba(#2b2b2b, .5) url(../images/icon-next_big.png) no-repeat 270px;
			color: #fff;
			text-decoration: none;

			p {
				margin-top: 2px;
				text-transform: uppercase;
				}
			}
