footer {
	min-width: $width;
	height: 120px - 53px;
	padding-top: 53px;
	background: rgba(#000, .7);
	font-family: $font-marmelad;
	color: #fffefe;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	}
