header {
	height: 498px;
	position: relative;
	font-family: $font-marmelad;
	}

	header .inner {
		position: relative;
		}

	.loginform {
		top: 23px;
		right: 0;
		position: absolute;

		p {
			@extend .clearfix;
			margin-bottom: 7px;
			font-size: 12px;
			}

		a {
			width: 132px;
			margin-left: 10px;
			display: inline-block;
			color: #fff;
			box-sizing: border-box;
			}

		.loginform-restore {
			padding-left: 3px;
			}

		.loginform-signup {
			line-height: 20px;
			background: #c116bd;
			border-radius: 5px;
			text-decoration: none;
			text-align: center;
			}

		input[type=email],
		input[type=password] {
			@include resetInput;

			width: 120px;
			height: 18px;
			padding: 0 6px;
			margin-left: 10px;
			border-radius: 5px;
			box-shadow: 0 1px 0 rgba(#5c5c5c, .75);
			line-height: 18px;
			}
		input[type=password] {
			width: 126px - 30px;
			padding-right: 30px;
			}
		input[type=submit] {
			@include resetInput;

			width: 17px;
			height: 13px;
			top: 2px;
			right: 7px;
			position: absolute;
			background: url(../images/icon-signin.png) no-repeat 0 0;
			cursor: pointer;
			}
		}

	.header-logo {
		width: 223px;
		height: 71px;
		top: 13px;
		left: 22px;
		position: absolute;
		display: block;
		background: url(../images/header-logo.png) no-repeat 0 0;
		}

	.header-search {
		width: 202px;
		height: 18px;
		top: 23px;
		left: 451px;
		position: absolute;

		input {
			@include resetInput;
			}
		input[type=text] {
			width: 202px - 8px - 28px;
			height: 18px;
			padding-left: 8px;
			padding-right: 28px;
			border-radius: 5px;
			line-height: 18px;
			box-shadow: 0 1px 0 rgba(#5c5c5c, .75);
			}
		input[type=submit] {
			width: 17px;
			height: 17px;
			top: 2px;
			right: 6px;
			position: absolute;
			background: url(../images/icon-search.png) no-repeat 0;
			cursor: pointer;
			}
		}

	.header-menu {
		width: 100%;
		min-width: $width;
		height: 49px;
		top: 89px;
		left: 0;
		position: absolute;
		background: rgba(#3a56cd, .8);

		font-family: $font-marmelad;
		font-size: 18px;
		color: #000;
		text-align: center;
		text-shadow: 0 2px 3px rgba(#364b90, .75);
		text-transform: uppercase;
		line-height: 50px;
		-webkit-font-smoothing: antialiased;
		}

		.header-menu a {
			padding: 0 18px;
			display: block;
			color: #fff;
			text-decoration: none;
			}

		.header-menu span {
			padding: 0 8px;
			}

		.header-menu ul {
			width: 1000px;
			padding: 0 12px;
			font-size: 0;
			}

		.header-menu li {
			font-size: 18px;
			float: right;
			}

		.header-menu li:nth-child(1) {
			width: 251px;
			float: left;

			a {
				padding: 0;
				vertical-align: middle;
				display: inline-block;
				line-height: 22px;
				}
			}

		.header-menu ._active,
		.header-menu a:hover {
			span {
				height: 49px - 4px;
				display: block;
				border-bottom: 4px solid #c116bd;
				}
			}

	.header-slider {
		height: 253px;
		margin-left: -$width/2;
		top: 138px;
		left: 50%;
		position: absolute;
		}

	.header-cats {
		width: 100%;
		min-width: $width;
		height: 57px;
		top: 391px;
		left: 0;
		position: absolute;
		background: rgba(#92489c, .8);

		text-align: center;
		text-transform: uppercase;
		font-family: $font-marmelad;
		font-size: 16px;
		color: #fff;
		-webkit-font-smoothing: antialiased;
		}

		.header-cats li {
			float: left;
			line-height: 57px;
			}

		.header-cats ._eq0 {width: 301px;}
		.header-cats ._eq1 {width: 349px;}
		.header-cats ._eq2 {width: 190px;}
		.header-cats ._eq3 {width: 184px;}

		.header-cats a {
			display: block;
			color: #fff;
			text-decoration: none;
			}

		.header-cats ._active a,
		.header-cats a:hover {
			background: #c116bd;
			}
