.content-wrapper._novost {
	position: relative;
	z-index: 1000;
	}

.breadcrumbs {
	margin-top: -18px;
	margin-bottom: 47px;
	height: 18px;
	font-size: 14px;

	ul {
		@extend .clearfix;
		}

	li {
		margin-right: 4px;
		float: left;
		}

	a {
		height: 18px;
		padding: 0 8px 0 13px;
		display: block;
		background: #92489c url(../images/icon-listitem.png) no-repeat 4px;
		border-radius: 3px;
		color: #fff;
		text-decoration: none;
		line-height: 18px;
		}

	li:last-child a,
	a:hover {
		background-color: #c116bd;
		}
	}

.content-img {
	width: 322px;
	margin-bottom: 30px;
	float: left;
	border: 2px solid #bcbcbc;
	border-radius: 10px;
	}

.content_novost {
	p {
		clear: left;
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 16px;
		}
	}

.content_novost-headers {
	border-top: 2px solid #bcbcbc;
	margin-left: -11px;
	padding-top: 25px;
	padding-left: 25px;

	counter-reset: headers;
	font-size: 14px;

	a {
		color: #fff;
		text-decoration: none;
		}

	li {
		line-height: 30px;

		&:before {
			width: 35px;
			display: inline-block;
			counter-increment: headers;
			content: counter(headers) '.'
			}
		}
	}

.content_novost-author {
	margin-top: -14px;
	text-align: right;
	text-transform: uppercase;
	}

.content_novost-title {
	width: 410px;
	margin-left: 330px;
	padding-top: 10px;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	}

.content_novost-description {
	width: 380px;
	margin-bottom: 30px;
	margin-left: 350px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	}

.content_novost-addition {
	width: 405px;
	margin-left: 338px;
	font-size: 14px;
	text-align: center;
	color: #d7d7d7;
	line-height: 16px;
	}
