.aside-social {
	margin-bottom: 21px;
	font-size: 0;
	text-align: center;

	li {
		width: 24px;
		height: 24px;
		margin: 0 7px;
		display: inline-block;
		}

	a {
		height: 24px;
		display: block;
		background: url(../images/aside-social.png) no-repeat 0 100%;
		}

	._fb a:hover {background-position: 0 0;}

	._gplus a {background-position: -24px 100%;}
	._gplus a:hover {background-position: -24px 0;}

	._linkedin a {background-position: -48px 100%;}
	._linkedin a:hover {background-position: -48px 0;}

	._twitter a {background-position: -72px 100%;}
	._twitter a:hover {background-position: -72px 0;}

	._youtube a {background-position: -96px 100%;}
	._youtube a:hover {background-position: -96px 0;}
	}

.aside-box {
	padding: 13px 0;
	margin-bottom: 19px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-family: $font-marmelad;

	&._blue {
		background: #3a56cd;
		}
	&._purple {
		background: #92489c;
		}
	}

	.aside-box._categories {
		select {
			width: 182px;
			margin-top: 10px;
			}
		}

	.aside-box._subscribe {
		input {
			width: 182px;
			height: 18px;
			margin: 10px 0 13px;
			border: 0;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 1px 0 #1e2d6b;
			line-height: 18px;
			}

		a {
			font-size: 16px;
			color: #fffeff;
			text-transform: uppercase;
			}
		}

	.aside-box._posts,
	.aside-box._comments {
		padding-top: 9px;
		padding-bottom: 17px;
		font-family: $font-marmelad;

		ul {
			margin: 14px 7px 0;
			text-align: left;
			}
		}

	.aside-box._posts {

		li {
			@extend .clearfix;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
				}
			}

		img {
			display: block;
			float: left;
			border: 1px solid #d3d3d3;
			}

		.posts-link {
			margin-left: 76px;

			a {
				color: #fffeff;
				font-size: 14px;
				line-height: 16px;
				text-decoration: none;
				}
			}

		.posts-info {
			@extend .clearfix;

			width: 221px - 76px;
			margin: 10px 0 0 5px;
			float: left;
			font-family: $font-tahoma;
			color: #d8d8d8;
			font-size: 12px;
			line-height: 13px;

			time {
				float: left;
				}
			}
			.posts-info-comments {
				padding-left: 16px;
				margin-left: 11px;
				float: left;
				background: url(../images/icon-comments.png) no-repeat 0;
				}
			.posts-info-read {
				width: 13px;
				height: 13px;
				float: right;
				background: url(../images/icon-next.png) no-repeat 0;
				}
		}

	.aside-box._comments {
		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
				}
			}

		.comments-header {
			@extend .clearfix;
			line-height: 24px;
			vertical-align: middle;
			font-family: $font-tahoma;
			font-size: 12px;
			color: #d8d8d8;

			time {
				float: left;
				}

			img {
				width: 24px;
				height: 24px;
				float: left;
				}
			}
			.comments-header-username {
				margin: 0 15px 0 5px;
				float: left;
				font-size: 14px;
				line-height: 24px;
				color: #fffeff;
				text-decoration: none;
				}
			.comments-count {
				padding-left: 16px;
				margin-left: 11px;
				float: left;
				background: url(../images/icon-comments.png) no-repeat 0;
				}
			.comments-topic {
				display: inline-block;
				margin-top: 10px;
				font-size: 12px;
				line-height: 14px;

				a {
					color: #fffeff;
					}
				}
		}

	.aside-box._archive {
		padding: 0;
		text-align: left;

		ul {
			margin-top: 17px;
			margin-left: 14px;
			font-family: $font-tahoma;
			font-size: 12px;
			}

		a {
			padding-left: 26px;
			background: url(../images/icon-house.png) no-repeat 0;
			line-height: 24px;
			color: #fff;
			text-decoration: none;
			}
		}

	.aside-box-title {
		font-size: 18px;

		&._left {
			padding: 0 30px 0 28px;
			text-align: left;
			}

		&._small {
			@extend .clearfix;

			padding-left: 14px;
			text-align: left;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 20px;

			span {
				float: left;
				}
			a {
				float: right;
				margin-right: 7px;
				}
			}
		}
