.content-wrapper._sonnik {
	position: relative;
	z-index: 1000;
	}

.content_sonnik-title {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 36px;
	}

.content_sonnik-description {
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	}

.content_sonnik-addition {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 16px;
	color: #acacac;
	}

.sonnik-info {
	h2 {
		margin: 45px 0;
		font-size: 18px;
		text-transform: uppercase;
		color: #fffeff;
		}

	p {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 16px;
		}
	}

.sonnik-letters {
	@extend .clearfix;

	margin-top: 21px;
	font-size: 18px;

	a {
		width: 19px;
		height: 19px;
		display: block;
		color: #fffeff;
		text-decoration: none;
		text-transform: uppercase;
		background: #92489c;
		text-align: center;
		line-height: 19px;
		border-radius: 3px;
		box-shadow: 0 1px 0 #340241;
		}

	li {
		margin-left: 5px;
		float: left;
		}
	}

.sonnik-search {
	font-size: 0;
	line-height: 0;

	input {
		@include resetInput;

		height: 28px;
		display: inline-block;
		border-radius: 5px;
		box-shadow: 0 1px 0 #340241;
		line-height: 28px;
		font-size: 18px;
		font-family: $font-marmelad;
		outline: 0;
		}

	input[type=text] {
		width: 579px - 34px;
		padding: 0 17px;
		color: #b1b1b1;
		}
	input[type=submit] {
		width: 142px;
		margin-left: 20px;
		background-color: #3a56cf;
		color: #fffeff;
		font-size: 18px;
		text-transform: uppercase;
		cursor: pointer;
		}
	}
