@import 'compass';
@import '_params';

@include global-reset;

html {
  height: 100%;
  }

body {
  min-height: 100%;
  /*height: 10000px;*/
  position: relative;

  background: #000 url(../images/page-bg.jpg) repeat-y 50% 0;
  }

.wrapper {
  position: relative;
  z-index: 10;
  }

.page-header-background {
  width: 100%;
  min-width: $width;
  height: 816px;
  // margin-left: -960px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9;

  background: url(../images/header-bg.jpg) no-repeat 50% 0;
  }
.page-footer-background {
  width: 100%;
  min-width: $width;
  height: 391px;
  // margin-left: -960px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 8;

  background: url(../images/footer-bg.jpg) no-repeat 50% 0;
  }

.clearfix {
  zoom: 1;
  &:before, &:after {
    height: 0;

    display: block;
    overflow: hidden;

    content: '\0020';
    }
  &:after {
    clear: both;
    }
  }

@mixin resetInput {
  padding: 0;
  margin: 0;

  border: 0;
  background: #fff;

  -webkit-appearance: none;
  }

.inner {
  width: $width;
  margin: auto;
  }

@import '_header';
@import '_footer';

.content-wrapper {
  @extend .clearfix;
  @extend .inner;
  }

  .content {
    width: $width-content - 22px;
    padding: 0 11px;

    float: left;
    }

  aside {
    width: $width-aside - 20px;
    padding: 0 11px 0 9px;

    float: right;
    }

.linkto-rss {
  width: 20px;
  height: 20px;

  display: inline-block;

  vertical-align: middle;

  background: url(../images/icon-rss.png) no-repeat 0;
  }

@import '_sidebar';
@import '_content';
@import '_novost';
@import '_sonnik';
@import '_addmat';
