doctype html
html
  head
    meta charset='utf-8'
    meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
    title = 'magickum: ' + current_page.data.title
    meta name='viewport' content='width=1024,minimal-ui'
    link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic' rel='stylesheet' type='text/css'
    = stylesheet_link_tag 'all'

  body
    .wrapper
      header
        .inner
          a.header-logo href=''
          form.header-search
            input type='text' placeholder='Поиск'
            input type='submit' value=''
          = partial '_loginform'
        .header-menu
          ul.inner
            li
              a href="" МАГИКУМ ПРОЕКТ ОНЕЙРОНАВТОВ
            li
              a href=""
                span Форум
            li
              a href=""
                span Добавить материал
            li
              a href=""
                span Новости
            li._active
              a href=""
                span Главная
        .header-slider slider
        .header-cats
          ul.inner
            li._eq0._active
              a href='' Магикум перекресток миров
            li._eq1
              a href='' Магикум архив гипнотерапевта
            li._eq2
              a href='' Магикум сны
            li._eq3
              a href='' Магикум сонник

      = yield

      footer
        p Copyright © 2014 Магикум - Магикум 2012. Авторский сайт Виктории Соколовой.
        p Все права защищены. Все материалы сайта запрещены к копированию и охраняются законом об авторском праве.
    .page-header-background
    .page-footer-background
