aside
	ul.aside-social
		li._fb
			a href=""
		li._gplus
			a href=""
		li._linkedin
			a href=""
		li._twitter
			a href=""
		li._youtube
			a href=""

	.aside-box._blue._subscribe
		.aside-box-title Введите e-mail адрес
		input type="email"
		a href="" Подписаться

	.aside-box._blue._categories
		.aside-box-title._left РУБРИКИ
		select
			option Выберите рубрику

	.aside-box._purple._posts
		.aside-box-title._small
			span Свежие записи
			a.linkto-rss href=""

		ul
			li
				img src='images/fish/01.png' alt=''
				.posts-link
					a href="" Аффирмация «Сон в Новогоднюю Ночь»
				.posts-info
					time 10.12.2013
					span.posts-info-comments 2
					a.posts-info-read href=""
			li
				img src='images/fish/01.png' alt=''
				.posts-link
					a href="" Аффирмация «Сон в Новогоднюю Ночь»
				.posts-info
					time 10.12.2013
					span.posts-info-comments 2
					a.posts-info-read href=""
			li
				img src='images/fish/01.png' alt=''
				.posts-link
					a href="" Аффирмация «Сон в Новогоднюю Ночь»
				.posts-info
					time 10.12.2013
					span.posts-info-comments 2
					a.posts-info-read href=""

	.aside-box._purple._comments
		.aside-box-title._small
			span Свежие комментарии
			a.linkto-rss href=""

		ul
			li
				.comments-header
					img src="images/fish/02.png"
					a.comments-header-username href="" Username
					time 10.12.2013
					span.comments-count 2
				.comments-topic
					a href="" Аффирмация «Сон в Новогоднюю Ночь»
			li
				.comments-header
					img src="images/fish/02.png"
					a.comments-header-username href="" Username
					time 10.12.2013
					span.comments-count 2
				.comments-topic
					a href="" Аффирмация «Сон в Новогоднюю Ночь»
			li
				.comments-header
					img src="images/fish/02.png"
					a.comments-header-username href="" Username
					time 10.12.2013
					span.comments-count 2
				.comments-topic
					a href="" Аффирмация «Сон в Новогоднюю Ночь»

	.aside-box._archive
		.aside-box-title._small
			span Архивы

		ul
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
			li
				a href='' Декабрь 2013
