form.loginform
	p
		input type='email' placeholder='Логин'
		input type='password' placeholder='Пароль'
		input type='submit' value=''
	p
		a.loginform-restore href="" Восстановить пароль
		a.loginform-signup href="" Зарегистрироваться
