---
title: addmat
---

.content-wrapper._addmat
	.content
		ul.breadcrumbs
			li
				a href="" Главная
			li
				a href="" Добавить материал

		.content_addmat
			.content_sonnik-title ДОБАВИТЬ МАТЕРИАЛ
			.content_sonnik-description Правила публикации
			.content_sonnik-addition
				'Прежде чем публиковать свой материал на сайт, убедитесь, что он соответствует следующим правилам:
				p 1) Правило
				p 2) Правило
				p 3) Правило
				p 4) Правило

			.content_sonnik-title_middle Добавить свой материал на сайт

			form.addmat
				.addmat-row
					label Как вас зовут?
					input type='text' placeholder='Иванов Иван Иванович'
				.addmat-row
					label Название материала:
					input type='text' placeholder='Напишите название'
				.addmat-row
					label Куда публикуем?
					select
						option Название категории
				.addmat-row._multilines
					label
						'Описание материала
						span мин 500 символов, макс - 5000
					textarea
				.addmat-row
					label
						'Загрузка файлов
						span добавлять можно только 1 файл!
					input type='file'
				.addmat-row
					label Ваш Email:
					input type='email' placeholder='user@mail.ru'
				.addmat-row
					label 8 + 7 =
					input type='text' placeholder='Введите результат выражения'
				.addmat-row
					p._addmat-cell-right Нажимая кнопку "Отправить", Вы соглашаетесь с правилами публикации.

				.addmat-row._actions
					p._addmat-cell-right
						input type='reset' value='Очистить все'
						input type='submit' value='Отправить'

	= partial '_aside'
