---
title: main
---

.content-wrapper
	.content
		.content_centered
			.content-title Добро пожаловать в МАГИКУМ !
			p Здесь сны и магия переплетаются.
			p А измененные состояния сознания открывают дверь в другую реальность.
			p Для каждого  имеющего возможность, желание и способность выходить за пределы сознания повседневности  живущего на Земле и осознающего. Сайт посвящен рассказам, снам и предсказаниям людей, активно использующих возможности измененных состояний сознания.
		.content_left
			p За все историю человеческой расы, по крайне мере, о которой нам доподлинно известно, во многих культурах сны в жизни людей играли большую роль.  Для некоторых племен и народов жизнь в сновидениях была важнее, чем реальная:
			p В храмах снов Древней Греции – находили способы излечения от недугов и болезней;
			p Племена эскимосов и африканские племена использовали сны для проникновения в мир животных и растений;
			p Сорок три сна из  Ветхого Завета, сон Авраама, в котором Бог открыл ему судьбу его потомков, сон из Книги Бытия «Лестница Иакова» (XVII в. до н. э.), когда Иаков заснул в Вефиле и увидел лестницу, которая «стоит на земле, а верх её касается неба; и  Ангелы Божии восходят и нисходят по ней»  (Быт.28:12), где услышал он обещание Господа оберегать ...
			a.readnext._fixedmargin href=""
				span Прочитать до конца

		.catlinks
			ul
				li
					.catlinks-pic
						img src="images/fish/03.png"
					a.catlinks-description href=""
						span Магикум
						p Перекресток Миров
				li
					.catlinks-pic
						img src="images/fish/03.png"
					a.catlinks-description href=""
						span Магикум
						p Архив Гипнотерапевта

		.catlinks
			.catlinks-header
				p Вещие сны
				p Раздел посвященный сновидениям.<br>В нем опубликованы отчеты по «Снам будущего» и «Сбывшимся снам».
			ul
				li
					.catlinks-pic
						img src="images/fish/03.png"
					a.catlinks-description href=""
						span Магикум
						p Перекресток Миров
				li
					.catlinks-pic
						img src="images/fish/03.png"
					a.catlinks-description href=""
						span Магикум
						p Архив Гипнотерапевта

	= partial '_aside'
