---
title: sonnik
---

.content-wrapper._sonnik
	.content
		ul.breadcrumbs
			li
				a href="" Главная
			li
				a href="" Магикум сонник

		.content_sonnik
			.content_sonnik-title МАГИКУМ СОННИК
			.content_sonnik-description Современный сонник. Значения сновидений. Значение символов во снах.
			.content_sonnik-addition Выберите начальную букву или введите слово в поисковике:

			form.sonnik-search
				input type='text' placeholder='Введите ключевое слово из вашего сна'
				input type='submit' value='Поиск'

			ul.sonnik-letters
				- letters = 'абвгдежзиклмнопрстуфхцчшщэюя'.split('')
				- letters.each do |letter|
					li
						a href="" = letter

			.sonnik-info
				h2 магикум Сонник - толкование снов

				p Во снах наше подсознание не просто показывает нам сюжеты, истории или  картинки, чаще всего  оно дает Знак – подсказку для того, чтобы мы остановились и осмотрелись вокруг, приняли правильное решение, обратили на что-либо особое внимание. это происходит предусмотрительно преждевременно. но из-за того, Что мы вовремя не можем понять язык символов своего «я», его усилия проходят даром. и так – до следующего раза.
				p Не летите. Остановитесь. Иначе не было, нет и не будет иметь смыла обладать таким даром.
				p Даром предвидения во сне.
				p Если вам снились сны, вы видели знаки, в которых были указания на события, и вы их интерпретировали, делитесь информацией! Возможно, для кого-либо она окажется ценной.
				p Как результат мы получим значения снов.
				p Не аллегорическое и эфемерное, а персональное, личное.
				p Из нашего времени и пространства, из нашей жизни.
				p Вы ведь помните, что живем мы все вместе в 21 веке.
				p У нас свои символы и знаки.
				p «Бабушкины» сонники для нас уже почти ничего не значат, потому что « не работают».
				p У нас своя действительность и реальность.

	= partial '_aside'
