---
title: strnovost
---

.content-wrapper._novost
	.content
		ul.breadcrumbs
			li
				a href="" Главная
			li
				a href="" Магикум перекресток миров

		.content_novost
			img.content-img src='images/fish/04.png'
			.content_novost-title МАГИКУМ ПЕРЕКРЕСТОК МИРОВ
			.content_novost-description Эта книга написана на основе данных сеансов гипноза.
			.content_novost-addition Защищено законом об авторских и смежных правах. При использовании и перепечатке материалов  активная<br>ссылка на сайт обязательна!

			p Совершенно мистическим образом архив одного   гипнотизера-самоучки семидесятых лет прошлого столетия  попал в руки моей знакомой, которая  является дипломированным  терапевтом, использующим методы прогрессивного гипноза. Удивительно было то, что записи архива были двадцатипятилетней давности и велись более восьми лет, тогда как в нашей стране регрессии в прошлые жизни стали проводить сравнительно недавно.

			p Их принесла девушка, которая в свою очередь нашла архив в квартире, полученной по наследству. К нему прилагалась подробная записка , а в конце было  написано следующее : «тот, кому попадет в руки данный архив должен будет продолжить регрессии с того момента, на котором остановился я…». На протяжении более четырех лет было проведено  более семидесяти погружений… в прошлые жизни и жизни между жизнями.

			p Результат  оказался поразительным.  С разрешения «клиентки по наследству», как мы ее называли, мне были переданы все записи сеансов, включая архив. Скажу сразу —  то, что происходит в жизнях людей здесь – на Земле, это больше чем мистика и круче, чем эзотерика. Каждый наш шаг – записан в Великой книге, каждое решение – выбор, все, что с нами происходит – модель вариантов.  Когда представляется возможность вылезти из своей скорлупы и посмотреть на жизнь с ТАКОЙ ВЫСОТЫ, понимаешь , как был прав Э.Кейс, когда говорил : «Люди являются космическими существами. Промежуток времени нашей жизни является краткой интерлюдией познания в вечном путешествии через время и пространство…».

			p С присущим многим авторам художественным воображением я написала книгу, введя образы и персонажи, которые хоть как-то могут быть помещены в земные реалии, а смысл событий , описанных в архиве, подтвердит свою ценность.

			p.content_novost-author В.Соколова.

			ol.content_novost-headers
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ
				li
					a href="" Ч.1. ГЛАВА 1. ПЕРЕКРЕСТОК СУДЕБ

	= partial '_aside'

